header{
    background-color: #262626;
    color: rgb(0, 0, 0);
 }
 
 
 
 
 .logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
 }
 
 
 
 
 .cabecalho{
    background-color: #262626;
    color: rgb(0, 0, 0);
 }
 
 
 
 
 .cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
 
 
 
 
    *{
        margin: 0;
        padding: 0;
    }
   
    .cabecalho {
        background-color: #000000;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
   
    .cabecalho-imagem{
        width: 20%;
    }
   
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }
    
    body {  		
        background-color: #000000;  	
     }    
     h1 {  		
        color: #000000;  		
        background-color: #000000;    	
     } 
    
    .dono-imagem{
        max-width:600px;
        max-height:550px;
        width: auto;
        height: auto;
 }
    .dono2-imagem{
        max-width:600px;
        max-height:550px;
        width: auto;
        height: auto;
}
    }