header{
    background-color: #262626;
    color: white;
 }
 
 
 
 
 .logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
 }
 
 
 
 
 .cabecalho{
    background-color: #262626;
    color: white;
 }
 
 
 
 
 .cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
 
 
 
 
    *{
        margin: 0;
        padding: 0;
    }
   
    .cabecalho {
        background-color: #000000;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
   
    .cabecalho-imagem{
        width: 20%;
    }
   
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }
    .dono-imagem{
        width: 100px;
 }
    .dono2-imagem{
    width: 25px;
    }